@font-face{
	font-family: 'Museo';
	src: url('../fonts/museo_sans_cyrl_500.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Museo';
	src: url('../fonts/museo_sans_cyrl_300.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: 'Museo';
	src: url('../fonts/MuseoSansCyrl_2.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face{
	font-family: 'Museo';
	src: url('../fonts/MuseoSansCyrl_3.otf');
	font-style: normal;
	font-weight: 900;
}

@font-face{
	font-family: 'Playfair';
	src: url('../fonts/PlayfairDisplay-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}